.App {
  text-align: center;
}

.AppMainContainer{
	height: 100vh;
	overflow-y: scroll;
	padding-top: 5%;
	background-color: #444444;
}

.forecastsContainer{
	padding: 2%;
}

.lastUpdate{
	margin-top: 30px;
	text-align: center;
	color: white;
	font-size: 12px;
}